.mygctv-logo {
  background-image: url(../imgs/my-gc-tv-logo.png);
  height: 30px;
  width: 105px;
  float: left;
  position: relative;
  top: -6px;
  left: -6px;
}

.gc-logo {
  background-image: url(../imgs/gc-logo.png);
  height: 30px;
  width: 53px;
  float: left;
  position: relative;
  top: -6px;
  left: -6px;
}

.total-money {
  font-size: 2em;
}

.refresh-btn {
  padding-top: 10px;
}

#ref_butn {
  cursor: pointer;
}

.total-coupons ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.total-coupons ul {
  padding-left: 0;
}
