<!DOCTYPE html>
<html lang="en" ng-app="wooApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Web Coupons</title>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="icon" sizes="192x192" href="imgs/android-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="imgs/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="imgs/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="imgs/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="imgs/apple-icon-144x144.png" />

  <!-- Add to Home Screen -->
  <div device-detector id="os-ios">
    <link href="js/angular-add-to-home-screen/styles/aaths.css" rel="stylesheet">
    <div ng-add-to-homescreen></div>
  </div>
  <div device-detector id="os-android">
    <link rel="stylesheet" type="text/css" href="css/addtohomescreen.css">
  </div>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="wooAppCtrl">
    <div class="container">
      <div class="text-center refresh-btn" title="Refresh">
        <i class="fa fa-refresh fa-2x" id="ref_butn"></i>
      </div>
      <h1 class="text-center">CTTI Web Coupons</h1>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
            <span class="mygctv-logo"></span>
              <h3 class="panel-title">Coupons myGCTV.com</h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger" role="alert" ng-show="witnationCoupons_error">{{witnationCoupons_error}}</div>
              <span class="total-coupons">
                <ul>
                  <li data-ng-repeat="coupon in witnationCouponsResult()">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5"><i class="fa fa-ticket"></i> {{coupon.code | uppercase}}</div>
                      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">{{coupon.description}}</div>
                    </div>
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="gc-logo"></span>
              <h3 class="panel-title">Coupons GrantCardone.com</h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger" role="alert" ng-show="cardoneCoupons_error">{{cardoneCoupons_error}}</div>
              <span class="total-coupons">
                <ul>
                  <li data-ng-repeat="coupon in cardoneCouponsResult()">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5"><i class="fa fa-ticket"></i> {{coupon.code | uppercase}}</div>
                      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">{{coupon.description}}</div>
                    </div>
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <h4>Last update: {{now}}</h4>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Include Local JS -->
  <script src="js/angular.js"></script>
  <script src="https://cdn.rawgit.com/srfrnk/re-tree/master/re-tree.js" type="text/javascript"></script>
  <script src="js/ng-device-detector/ng-device-detector.min.js"></script>
  <script src="js/angular-add-to-home-screen/js/angularAddToHomeScreen.js"></script>
  <script src="js/hmac-sha256.js"></script>
  <script src="js/enc-base64-min.js"></script>
  <script src="js/configuration.js"></script>
  <script src="js/functions.js"></script>
  <script src="js/app.js"></script>

  <!-- Add to Home Screen -->
  <div device-detector id="os-android">
    <script src="js/addtohomescreen.min.js"></script>
    <script>
      addToHomescreen();
    </script>
  </div>
  <script>
    $(document).ready(function(){
      $("#ref_butn").click(function(){
       location.reload();
     });
    });
  </script>
</body>
</html>